.page {
  width: 1417px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}
.page-header {
  padding: 25px ;
  background: no-repeat center url("../img/back.png");
  background-size: 100%;
  color:#533738;
}

.page-header__navigation {
   margin: 0 0;
}

.page-header__logo {
  display: inline-block;
  padding-left: 75px;
}

.page-header__navigation-list {
  display: inline-block;
  padding: 0 90px;

}

.page-header__navigation-item {
  display: inline;
  list-style: none;
  padding-right: 25px;
}

.page-header__telephone-number {
  display: inline-block;
  margin-right: 65px;
}

.page-header__title {
  width: 450px;
  padding-top: 50px;
  padding-left: 160px;
  font-size: 50px;
  font-weight: 400;
  line-height: 62px;
}

.page-header__paragraph {
  width: 365px;
  padding-left: 160px;
  font-size: 18px;
  font-style: normal;
  line-height: 30px;
}

.page-header__button {
  margin-left: 158px;
  margin-bottom: 150px;
  padding: 25px 75px;
  background: #CC8B86;
  font-size: 20px;
  color:#533738;
  line-height: 24px;
  border: none;
}

a {
  text-decoration: none;
  color:#533738;
}
